#titulo_principal {
    background-color: #DAA520;
    color: white;
}

.titulo_secundario {
    background-color: #228B22;
    color: white;
}

body{
    /*topografia CSS*/
    background-color: rgb(0, 0, 0);/*cor de fundo*/
    color: rgb(255, 255, 255); /*cor da fonte*/
    font-family: "roboto" , sans-serif; /*fonte do texto*/
    font-size: 16px;  /*tamanho da fonte - px/em/rem*/

}

#layout{
    display: flex;
}